<%- include('header.ejs'); -%>
<h1>Create New Article</h1>

<div class="container">
	<form action="/new" method="POST">
		<div class="row">
			<label>Title</label>
			<input class="form-control" type="text" name="title" id="title" required />
		</div>
		<div class="row">
			<label>Description</label>
			<textarea class="form-control" name="description" id="description" required> </textarea>
		</div>
		<div class="row">
			<label>Created By</label>
			<input class="form-control" type="text" name="created_by" id="created_by" />
		</div>
		<div class="row">
			<input class="btn btn-sm btn-success" type="submit" name="submit" value="Submit" />
			<a class="btn btn-sm btn-warning" href="/"> Back </a>
		</div>
	</form>
</div>
</body>
</html>