<%- include('header.ejs'); -%>
		<h1>Edit Article</h1>
        <div class="container">
            <form action="/update/<%= post.id %>" method="POST">
                <div class="form-group">
                    <label for="title">Title : </label>
                    <input type="text" name="title" class="form-control" value="<%= post.title %>" required>
                  </div>
    
                <label for="content"> Content : </label>
                 <textarea class="form-control" name="description" rows="3" id="contentarea" required><%= post.description %></textarea>
                 <br> <br>
                <input class="btn btn-sm btn-success" type="submit" value="Update" class="btn btn-dark">
            </form>
        </div>
    </body>
</html>